{template 'web/_header'}
{template 'web/statistics/tabs'}
<div class="panel panel-info">
    <div class="panel-heading">查询商品浏览量及购买转化率，默认排序为转化率从高到低</div>
    <div class="panel-body">
        <form action="./index.php" method="get" class="form-horizontal">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="sz_yi" />
            <input type="hidden" name="do" value="statistics" />
            <input type="hidden" name="p"  value="goods_trans" />
             <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">商品名称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                      <input name="title" type="text"  class="form-control" value="{$_GPC['title']}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">排序方式</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <label class='radio-inline'>
                        <input type='radio' name='orderby' value='0' {if empty($_GPC['orderby'])}checked{/if}/> 降序
                    </label>
                    
                    <label class='radio-inline'>
                        <input type='radio' name='orderby' value='1'  {if $_GPC['orderby']==1}checked{/if}/> 升序
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <button class="btn btn-default" ><i class="fa fa-search"></i> 搜索</button>
                     <input type="hidden" name="token" value="{$_W['token']}" />
                    {ifp 'statistics.export.goods_trans'}
                    <button type="submit" name="export" value="1" class="btn btn-primary">导出 Excel</button>
                    {/if}
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">总数: <span style='color:red'>{$total}</span></div>
     <table class="table table-hover">
            <thead>
                <tr>
                
                    <th>商品名称</th>
                    <th style='width:100px;'>访问次数</th>
                    <th style='width:100px;'>购买件数</th>
                    <th>转化率</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>
                        <img src="{php echo tomedia($row['thumb'])}" style="width: 30px; height: 30px;border:1px solid #ccc;padding:1px;">
                        {$row['title']}</td>
                    <td>{$row['viewcount']}</td>
                    <td>{$row['buycount']}</td> 
                    <td>   <div class="progress" style='max-width:500px;'>
                            <div style="width: {$row['percent']}%;" class="progress-bar progress-bar-info"><span style="color:#000">{php echo empty($row['percent'])?'':$row['percent'].'%'}</span></div>
                       </div></td>
                </tr>
                {/loop}
        </table>
        {$pager}
    </div>		
</div>
{template 'web/_footer'}
