{template 'web/_header'}
{template 'web/statistics/tabs'}

<div class="panel panel-info">
    <div class="panel-heading">查询会员增长趋势</div>
    <div class="panel-body">

        <form action="./index.php"  class="form-horizontal" onsubmit='return checkform()'>
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="sz_yi" />
            <input type="hidden" name="do" value="statistics" />
            <input type="hidden" name="p"  value="member_increase" />
            <input type="hidden" name="search" value="1" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">最近</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <select id='days' name="days" class="form-control">
                        
                        <option value="7"  {if $days==7}selected{/if}>7天</option>
                        <option value="14"  {if $days==14}selected{/if}>14天</option>
                        <option value="30"  {if $days==30}selected{/if}>30天</option>
                        <option value=""  {if $days==''}selected{/if}>按日期</option>
                    </select>
                </div>
            </div>
 
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">按月份/日期</label>

                <div class="col-sm-1">
                    <select id='year' name="year" class="form-control">
                        <option value=''>未选年份</option>
                        {loop $years $y}
                        <option value="{$y['data']}"  {if $y['selected']}selected="selected"{/if}>{$y['data']}年</option>
                        {/loop}
                    </select>
                </div>
                <div class="col-sm-1">
                    <select id='month' name="month" class="form-control" >
                        <option value=''>未选月份</option>
                        {loop $months $m}
                        <option value="{$m['data']}"  {if $m['selected']}selected="selected"{/if}>{$m['data']}月</option>
                        {/loop}
                    </select>
                </div>
                <span class='help-block'>不选择月份表示年统计 </span>

            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <button class="btn btn-default" ><i class="fa fa-search"></i> 搜索</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">趋势图示例</div>
    <div class="panel-body">
        <div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>  
    </div>
</div>
<script language="javascript" src="{SZ_YI_STATIC}js/dist/highcharts/highcharts.js"></script>
<script type="text/javascript">
   
   function checkform(){
 
       if($('#days').val()==''){    
           if($('#year').val()==''){    
               alert('请选择年份!');
               return false;
           }
       }
       return true;
   }
 
      $('#days').change(function(){
            if($(this).val()!=''){ 
                $('#year').val('');
                $('#month').val('').attr('disabled',true);;
            }
          
        })
       $('#year').change(function(){
            if($(this).val()==''){ 
                $('#month').val('').attr('disabled',true);
            }
            else{
                $('#days').val('');
                $('#month').removeAttr('disabled');
            }
        })
        
    $(function () {
   
        
        
        $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
             text: '{$charttitle}',
        },
        subtitle: {
            text: ''
        },
        colors: [
'#0061a5',
'#ff0000'
],
        xAxis: {
            categories: [    {loop $datas $key $row}
                   {if $key>0},{/if}"{$row['date']}"
                   {/loop}]
        },
        yAxis: {
            title: {
                text: '人数'
            },allowDecimals:false
        },
        tooltip: {
            enabled: false,
            formatter: function() {
                return '<b>'+ this.series.name +'</b><br>'+this.x +': '+ this.y +'°C';
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [
            {
               name: '会员',
               data: [
                   {loop $datas $key $row}
                   {if $key>0},{/if}{$row['mcount']}
                   {/loop}
               ]
            } ]
    });
    
});
</script>
{template 'web/_footer'}
