<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>什么是一元夺宝</title>
	<meta name="description" content="1元夺宝，就是指只需1元就有机会获得一件奖品，好玩有趣，不容错过。">
    <meta name="keywords" content="1元,一元,1元夺宝,1元购,1元购物,1元云购,一元夺宝,一元购,一元购物,一元云购,夺宝奇兵">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <link href="http://mimg.127.net/p/yymobile/1501310603/css/common.css" rel="stylesheet">
    <link href="http://mimg.127.net/p/yymobile/1501310603/css/help.css" rel="stylesheet">
</head>

<body class="webkit chrome ios iphone">
<div class="g-body">
    <div class="m-help">
	<div class="m-simpleHeader" id="dvHeader">
	    <a href="javascript:history.back(-1);" data-pro="back" data-back="true" class="m-simpleHeader-back"><i class="ico-back"></i></a>
	    <h1>什么是一元夺宝</h1>
	</div>
        <!-- 正文 -->
        <div class="g-wrap">
            {if !empty($share_data['int_desc'])}
            {php echo $share_data['int_desc']}
            {else}
            <div class="m-help-main">
                <h3>一元夺宝</h3>
                <div class="m-help-main-txt">
                    <p class="m-help-main-intro">一元夺宝，就是指只需花费1元，就有机会获得一件奖品。</p>
                    <p>奖品分配对应数量的号码，每个号码价值1元；当一件奖品所有号码售出后，根据预先制定的规则计算出一个幸运号码，持有该号码的用户，直接获得该奖品。</p>
                </div>
            </div>
            <div class="m-help-ext">
                <h4>一元夺宝规则</h4>
                <ol>
                    <li><span class="index">1</span><b class="txt-red">获得夺宝币：</b>用户花费1元购买，即可获1个夺宝码；</li>
                    <li><span class="index">2</span><b class="txt-red">挑选喜欢的奖品：</b>奖品分配对应数量的兑换码，1元可以获得其中1个号码（系统随机分配）；</li>
                    <li><span class="index">3</span><b class="txt-red">获得奖品：</b>当所有号码都被分配完毕后，系统根据规则计算出1个幸运号码，持有该号码的用户，直接获得该奖品。</li>
                </ol>

                <h4>幸运号码计算规则</h4>
                <ol>
                    <li><span class="index">1</span>奖品的最后一个号码分配完毕后，将随机产生幸运号码；</li>
                    <li><span class="index">2</span>最终产生幸运号码，拥有该幸运号码者，直接获得该奖品。</li>
                </ol>
            </div>
            {/if}
        </div>
    </div>
</div>
</body></html>