<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{$_W['account']['name']}--提示信息</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<!-- Mobile Devices Support @begin -->
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!-- Mobile Devices Support @end -->
<style>
    body{margin:0;padding:0;font-size:15px;}
	img{max-width:300px!important;}
	.content-black{width:100%;height:100%;position:fixed;z-index:5;background:rgba(0,0,0,0.8);}
	.content-black p{ color:#fff1cb; line-height:35px;}
	.btns{width:300px; height:40px; line-height:40px;background:#FFF; color:#000; border:0; border-radius:5px;MARGIN-RIGHT: auto;MARGIN-LEFT: auto;}
</style>
</head>
<body>
<div class="bg-content" id="shareBox" style="background:rgba(0,0,0,0.8);height:100%">
	<div class="content-black word-4" style="padding-top:40px;">
		<div style="text-align:center; font-size:16px; color:#fff;">
			<img src="{$_W['account']['qrcode']}" alt="{$_W['account']['childname']}二维码" />
			<p>
				{$_W['account']['name']}提醒您临时会话已结束，点击下面的按钮返回会话！
			</p>
			<p>
				<div class="btns">返回回话界面</div> 
			</p>					
		</div>
	</div>
</div>
{template 'jssdkhide'}
<script src="{$_W['siteroot']}app/resource/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
	$(".btns").click(function () {
		wx.closeWindow();
	});
</script>
</body>
</html>