#item-form th{width:100px !important;}
.ke-button-common{background:none;display:inline-block; height:20px;}
span.ke-button-common{background:url('../../../../resource/image/uploadButton.png') no-repeat;padding-left:20px;}
.up_loading span.ke-button-common{background:url('../../../../resource/image/up_loading.gif') 2px 2px no-repeat;}
.ke-button{padding:0;margin:0;font-size:12px;margin-top:-3px;margin-top:-2px\9;color:#84bce2;}
.ke-upload-file{cursor:pointer;}
.grid-5{width:400px !important;}