<style type="text/css">
  .img{text-align: center;}
</style>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">基本参数</a>
      </h5>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <input type="hidden" name="reply_id" value="{$reply['id']}" />
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动标题</label>
          <div class="col-sm-9">
            <input class="form-control" type="text" value="{$reply['title']}" class="span2" name="title">
            <div class="help-block">活动的标题</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">缩略图</label>
          <div class="col-sm-9">
            {php echo tpl_form_field_image('thumb',$reply['thumb'],'', $options);}
            <div class="help-block">图文消息的缩略图</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动简介</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="description">{$reply['description']}</textarea>
            <div class="help-block">图文消息的简介</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动页面logo</label>
          <div class="col-sm-9">
            {php echo tpl_form_field_image('logo',$reply['logo'],'', $options);}
            <div class="help-block">活动页面的顶部logo图</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">抽奖图片</label>
          <div class="col-sm-9">
            {php echo tpl_form_field_image('button',$reply['button'],'', $options);}
            <div class="help-block">活动页面的抽奖图片</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动时间</label>
          <div class="col-sm-4">
            {php echo tpl_form_field_daterange('time', array('start'=>date('Y-m-d',$c_s),'end'=>date('Y-m-d',$c_e)), true)}
            <div class="help-block">输入活动的起止时间</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">每人最多获奖次数</label>
          <div class="col-sm-2">
          <div class="input-group">
            <input class="form-control" type="text" value="{$reply['awardnum']}" class="span2" name="awardnum">
            <span class="input-group-addon">次</span>
          </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">每人最多抽奖次数</label>
          <div class="col-sm-2">
          <div class="input-group">
            <input class="form-control" type="text" value="{$reply['playnum']}" class="span2" name="playnum">
            <span class="input-group-addon">次</span>
          </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">每人每天最多抽奖次数</label>
          <div class="col-sm-2">
          <div class="input-group">
            <input class="form-control" type="text" value="{$reply['dayplaynum']}" class="span2" name="dayplaynum">
            <span class="input-group-addon">次</span>
          </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动说明</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="tips">{$reply['tips']}</textarea>
            <div class="help-block">活动页面的说明</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">备注</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="remark">{$reply['remark']}</textarea>
            <div class="help-block">活动页面的备注</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">奖品设置</a>
      </h5>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="text-align: center;width: 30%;">奖品信息</th>
              <th style="text-align: center;width: 15%;">中奖率</th>
              <th style="text-align: center;width: 10%;">数量</th>
              <th style="text-align: center;width: 25%;">奖品图片</th>
              <th style="text-align: center;width: 5%;">操作</th>
            </tr>
          </thead>
          <tbody id = "Prize">
            {loop $prizes $prize}
            <tr>
  <td>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="hidden" name="priceitem-new[]" value="{$tag}" />
          <input type="radio" name="price_new_type[]" value="o2o"></span>
        <div class="input-group-addon">实物</div>
        <input type="text" class="form-control" name="price_new_o2o[]" value="奖品名称">
      </div>
      {loop $creditnames['creditnames'] $select_credit $creditname}
      <div class="input-group" style="margin-top: 5px;">
        <span class="input-group-addon">
          <input type="radio" name="price_new_type[]" value="{$select_credit}"></span>
        <div class="input-group-addon">{$creditname['title']}</div>
        <input type="text" class="form-control" name="price_new_{$select_credit}[]" value="{$creditname['title']}">
      </div>
      {/loop}
    </div>
  </td>
  <td>
    <div class="input-group">
      <input class="form-control" placeholder="中奖率" name="price_new_rate[]">
      <span class="input-group-addon">%</span>
    </div>
  </td>
  <td>
    <input class="form-control" placeholder="数量" name="price_new_num[]"></td>
  <td>
    {php echo tpl_form_field_image("price_new_img[]",'','', $options);}
  </td>
  <td>
    <a href="javascript:;" onclick="$(this).parent().parent().remove();" class="btn btn-small" title="删除此条目"> <i class="glyphicon glyphicon-remove"></i>
    </a>
  </td>
</tr>
            {/loop}
          </tbody>
          <tbody>
            <tr>
              <td colspan="5">
                <a href="javascript:;" onclick="addPrizeItem()"> <i class="glyphicon glyphicon-plus"></i>
                  添加新项目
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">分享信息</a>
      </h5>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享标题</label>
          <div class="col-sm-9">
            <input class="form-control" type="text" value="{$reply['share_title']}" class="span2" name="share_title">
            <div class="help-block">分享给好友或朋友圈时的标题</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享图片</label>
          <div class="col-sm-9">
            {php echo tpl_form_field_image('share_img',$reply['share_img'],'', $options);}
            <div class="help-block">分享给好友或朋友圈时的图片</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享描述</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="share_content">{$reply['share_content']}</textarea>
            <div class="help-block">分享给好友或朋友圈时的描述</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 control-label">引导关注链接</label>
          <div class="col-sm-9">
            <input class="form-control" type="text" value="{$reply['share_url']}" class="span2" name="share_url">
            <div class="help-block">用户未关注时访问跳转链接! 推荐用微信平台的素材库，转成短地址 <a target="_blank" href="http://www.dwz.cn/">短网址转换</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.initReplyController = function($scope) {
    
  };
  window.validateReplyForm = function(form, $, _, util, $scope) {
    
    return true;
  };
</script>
<script>
function addPrizeItem() {
    var url = "{php echo $this->createWebUrl('Additem')}";
    $.ajax({
           "url": url ,
           success:function(data){
               $('#Prize').append(data);
           }

        });
    return;
  }

</script>