  {if empty($item['statusvalue'])}
                             <!--未付款-->
				  
                                {ifp 'order.op.pay'}
				{if $item['paytypevalue']==3}
				<div>
					   <input class='addressdata' type='hidden' value='{php echo json_encode($item['addressdata'])}'  />
                                        <input class='itemid'  type='hidden' value="{$item['id']}"  />
                                         <a class="btn btn-primary btn-sm" href="javascript:;" onclick="send(this)" data-toggle="modal" data-target="#modal-confirmsend">确认发货</a>
										 </div>
				{else}
                                <a class="btn btn-primary btn-sm" href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'confirmpay','id' => $item['id']))}" onclick="return confirm('确认此订单已付款吗？');return false;">确认付款</a>
                               {/if}
							   
                                {/if}
                            
                            {elseif $item['statusvalue'] == 1}
                               <!--已付款-->
                            
                                {if !empty($item['addressid']) }
                                      <!--快递 发货-->
                                        {ifp 'order.op.send'}
                                        <div>
                                        <input class='addressdata' type='hidden' value='{php echo json_encode($item['addressdata'])}'  />
                                        <input class='itemid'  type='hidden' value="{$item['id']}"  />
                                        <a class="btn btn-primary btn-sm" href="javascript:;" onclick="send(this)" data-toggle="modal" data-target="#modal-confirmsend">确认发货</a>
                                        </div>
                                        {/if}
                                {else}
                                        {if $item['isverify']==1}
                                            <!--核销 确认核销-->
                                             {ifp 'order.op.verify'}
                                                 <a class="btn btn-primary btn-sm" href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'confirmsend1','id' => $item['id']))}" onclick="return confirm('确认核销吗？');return false;">确认核销</a>
                                             {/if}
                                        {else}
                                            <!--自提 确认取货-->
                                              {ifp 'order.op.fetch'}
                                                 <a class="btn btn-primary btn-sm" href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'confirmsend1','id' => $item['id']))}" onclick="return confirm('确认取货吗？');return false;">确认取货</a>
                                            {/if}
                                        {/if}
                                
                                {/if}
                                
                            
                            {elseif $item['statusvalue'] == 2}
                                       <!--已发货-->
                                {if !empty($item['addressid'])}
                                 <!--快递 取消发货-->
                                   {ifp 'order.op.sendcancel'}
                                      <a class="btn btn-danger btn-sm" href="javascript:;" onclick="$('#modal-cancelsend').find(':input[name=id]').val('{$item['id']}')" data-toggle="modal" data-target="#modal-cancelsend">取消发货</a>
                                   {/if}
                                   {ifp 'order.op.finish'}
                                       <a class="btn btn-primary btn-sm" href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'finish','id' => $item['id']))}" onclick="return confirm('确认订单收货吗？');return false;">确认收货</a>
                              
                                   {/if}
                                {/if}
                                
                            {elseif $item['statusvalue'] == 3}
 
                            {/if}
