html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:transparent}
body {-moz-appearance:none; -webkit-appearance: none;-webkit-font-smoothing:antialiased;-webkit-user-select:none;-ms-user-select:none;user-select:none; font-family:Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",sans-serif; -webkit-tap-highlight-color: transparent;width:100%;height:100%;-webkit-tap-highlight-color:transparent; -webkit-appearance: none}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
input,select,textarea{font-size:100%}
input:-ms-clear{display:none}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:after,q:before{content:''}
sub,sup{line-height:0;position:relative;vertical-align:baseline}
a:active{text-decoration:none}
a,ins{text-decoration:none}
button,fieldset,img,input{border:0}
button,input,select,textarea{font-size:100%}
table{border-spacing:0;border-collapse:collapse}
input{border-radius:0;-webkit-appearance:none}
:focus{outline:0}
.hidden{display:none!important;visibility:hidden!important}
.clear_in{overflow: hidden;zoom: 1;}
.fl{float:left;}
.fr{float:right;}
.bort{border-top:1px solid #f6f6f6;}
.borb{border-bottom:1px solid #f6f6f6;}
.mb10{margin-bottom:10px;}

.grid{box-sizing:content-box;padding-left:.3rem;padding-right:.3rem;margin-left:-.2rem}
.grid:after,.grid:before{content:" ";display:table}
.grid:after{clear:both}
.grid [class^=col-]{margin-left:.2rem;float:left}

.show_footer{height:60px; width:100%;margin:0;padding:0;float:left;display:block;}